body {
    background-color: #123252;
    margin: 0;
    font-family: "Montserrat";
}

#container {
    max-width: 600px;
    margin: 15px auto;
}

.square {
    width: 30%;
    margin: 1.6%;
    padding-bottom: 30%;
    float: left;
    background-color: darkgrey;
    border-radius: 20%;
    transition: background 0.3s;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 25px 0;
    background-color: #5ca0c9;
    transition: background 0.5s;
    font-weight: normal;
    text-transform: uppercase;
}

#message {
    color: #5ca0c9;
    width: 30%;
    display: inline-block;
}

#stripe {
    text-align: center;
    background-color: #fff;
    height: 30px;
    color: #000;
}

button {
    color: #5ca0c9;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: inherit;
    background: none;
    transition: all 0.5s;
    height: 100%;
}

button:hover {
    color: #fff;
    background-color: #5ca0c9;
}

.selected {
    background-color: #5ca0c9;
    color: #fff;
}

#colorDisplay {
    font-size: 200%;
}